Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix container image build with multiple regexes
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/fix-image-build-regex-964c8c6359841662.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Don't list tasks for config dump
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: set previous_release to stein
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Remove rocky pin from molecule requirements
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix after x/kayobe rename
  .gitreview
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update docs after repo rename x/ to openstack/
  README.rst
  doc/source/conf.py
  doc/source/configuration/kayobe.rst
  doc/source/development/automated.rst
  doc/source/development/testing.rst
  doc/source/development/vagrant.rst
  doc/source/index.rst
  doc/source/installation.rst
  doc/source/upgrading.rst
Due: none

Fix after x/kayobe rename
  .gitreview
  playbooks/kayobe-overcloud-base/post.yml
  playbooks/kayobe-overcloud-base/pre.yml
  playbooks/kayobe-overcloud-base/run.yml
  playbooks/kayobe-overcloud-upgrade-base/post.yml
  playbooks/kayobe-overcloud-upgrade-base/pre.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  playbooks/kayobe-seed-base/post.yml
  playbooks/kayobe-seed-base/pre.yml
  playbooks/kayobe-seed-base/run.yml
  playbooks/kayobe-seed-upgrade-base/post.yml
  playbooks/kayobe-seed-upgrade-base/pre.yml
  playbooks/kayobe-seed-upgrade-base/run.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix after x/kayobe rename
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix after x/kayobe rename
  .gitreview
  playbooks/kayobe-seed-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use releases.o.o for upper constraints
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Fix kayobe-overcloud-centos CI job flakiness
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Allow Kayobe to wipe virtualized disks
  ansible/roles/wipe-disks/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add alternative tenks deploy and teardown entrypoints.
  dev/functions
  dev/tenks-deploy-compute.sh
  dev/tenks-deploy-overcloud.sh
  dev/tenks-teardown-compute.sh
  dev/tenks-teardown-overcloud.sh
  doc/source/development/automated.rst
  playbooks/kayobe-overcloud-base/run.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update the constraints url
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Set provisioning and cleaning networks as non-shared
  ansible/provision-net.yml
  releasenotes/notes/non-shared-ironic-nets-06a43c9b6dea2a77.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix validation of locally built IPA when ironic is disabled
  ansible/kolla-openstack.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Blacklist sphinx 2.1.0 (autodoc bug)
  doc/requirements.txt
Due: none

Add ansible tag headers to Host Configuration doc page
  doc/source/configuration/hosts.rst
  doc/source/usage.rst
Due: none

format pxe_append_params as string and not a list
  ansible/roles/kolla-openstack/templates/ironic.conf.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix issue with image download when checksum url is none
  ansible/roles/image-download/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Try running `docker info` again if it fails
  ansible/roles/docker/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Install libffi headers
  dev/functions
  doc/source/installation.rst
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add nova-super-conductor to inventory
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Build pdf doc
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Remove sphinx from test-requirements.txt
  test-requirements.txt
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Don't set cpu mode
  dev/tenks-deploy-config-compute.yml
  dev/tenks-deploy-config-overcloud.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix baremetal serial console autoenable
  ansible/baremetal-compute-serial-console-post-config.yml
  releasenotes/notes/fix-baremetal-serial-autoenable-0ccfec017cf2ddbc.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Increase job run attempts
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add new variables for customising the deployment image in Bifrost
  ansible/group_vars/all/bifrost
  etc/kayobe/bifrost.yml
  releasenotes/notes/bifrost-dib-extra-c4eac903986ec700.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos
