Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

kayobe-tox-ansible-syntax:
  description: 'Tox job that checks Ansible playbook syntax.
  
    '
  parent: openstack-tox
  vars:
    tox_envlist: ansible-syntax

kayobe-tox-ansible:
  description: 'Tox job that runs native Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  vars:
    tox_envlist: ansible

kayobe-tox-molecule:
  description: 'Tox job that runs molecule-based Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  pre-run: playbooks/kayobe-tox-molecule/pre.yml
  timeout: 3600
  required-projects:
  - name: openstack/requirements
    override-checkout: stable/rocky
  vars:
    tox_envlist: molecule

kayobe-overcloud-base:
  description: 'Base job for testing overcloud deployment.
  
  
    Configures the primary VM as an overcloud controller.
  
    '
  pre-run: playbooks/kayobe-overcloud-base/pre.yml
  run: playbooks/kayobe-overcloud-base/run.yml
  post-run: playbooks/kayobe-overcloud-base/post.yml
  attempts: 1
  timeout: 7200
  ...

kayobe-overcloud-centos:
  parent: kayobe-overcloud-base
  nodeset: kayobe-centos

kayobe-overcloud-upgrade-base:
  description: 'Base job for testing overcloud upgrades.
  
  
    Configures the primary VM as an overcloud controller using the previous
  
    OpenStack release, and upgrades it to the current release.
  
    '
  pre-run: playbooks/kayobe-overcloud-upgrade-base/pre.yml
  ...

kayobe-overcloud-upgrade-centos:
  parent: kayobe-overcloud-upgrade-base
  nodeset: kayobe-centos

kayobe-seed-base:
  description: 'Base job for testing seed deployment.
  
  
    Configures the primary VM as a seed.
  
    '
  pre-run: playbooks/kayobe-seed-base/pre.yml
  run: playbooks/kayobe-seed-base/run.yml
  post-run: playbooks/kayobe-seed-base/post.yml
  attempts: 1
  timeout: 5400
  required-projects:
  - name: x/kayobe
  ...

kayobe-seed-centos:
  parent: kayobe-seed-base
  nodeset: kayobe-centos

kayobe-seed-upgrade-base:
  description: 'Base job for testing seed upgrades.
  
  
    Configures the primary VM as a seed using the previous OpenStack release,
  
    and upgrades it to the current release.
  
    '
  pre-run: playbooks/kayobe-seed-upgrade-base/pre.yml
  run: playbooks/kayobe-seed-upgrade-base/run.yml
  ...

kayobe-seed-upgrade-centos:
  parent: kayobe-seed-upgrade-base
  nodeset: kayobe-centos

Fix documented name of time configuration file
  doc/source/configuration/hosts.rst
Due: none

Don't disable SELinux if it is not installed
  ansible/roles/disable-selinux/tasks/main.yml
  releasenotes/notes/fix-disable-selinux-not-installed-eff17c715efc1fdb.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Install libselinux-python on Ansible control host
  ansible/roles/kolla-ansible/vars/RedHat.yml
  releasenotes/notes/fix-selinux-python-missing-8bae7ffce4ba460d.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CentOS 8: separate kolla build tag from deploy tag
  ansible/group_vars/all/kolla
  ansible/roles/kolla-build/defaults/main.yml
  ansible/roles/kolla-build/templates/kolla-build.conf.j2
  doc/source/configuration/kolla.rst
  etc/kayobe/kolla.yml
  releasenotes/notes/kolla-tag-and-suffix-a223b0c7173a245e.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Remove DIB kernel cleanup workaround
  ansible/group_vars/all/bifrost
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update .gitreview for stable/ussuri
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Disable broken linting of literalinclude sphinx directive
  tools/sphinx8
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Add framework to deploy user-defined containers on seed
  ansible/group_vars/all/seed
  ansible/roles/deploy-containers/defaults/main.yml
  ansible/roles/deploy-containers/tasks/deploy.yml
  ansible/roles/deploy-containers/tasks/main.yml
  ansible/seed-deploy-containers.yml
  doc/source/configuration/index.rst
  doc/source/configuration/seed-custom-containers.rst
  doc/source/deployment.rst
  etc/kayobe/seed.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/deploy_containers-4199127a91f29be0.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Correct a typo in the document
  doc/source/configuration/kolla.rst
Due: none

Fix ironic inspector store endpoint configuration
  ansible/kolla-openstack.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix kayobe baremetal compute commands
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  releasenotes/notes/fix-baremetal-compute-commands-b72862a53f88c5ef.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Update feature flags
  ansible/group_vars/all/kolla
  ansible/roles/kolla-ansible/vars/main.yml
  etc/kayobe/kolla.yml
  tools/feature-flags.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Revert "Use OpenStack Ussuri release"
  ansible/group_vars/all/openstack
  etc/kayobe/openstack.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: set previous_release to ussuri
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Remove python 2 cleanup
  ansible/roles/kolla-ansible/tasks/install.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

IPA: Switch to IPA builder and CentOS 8
  ansible/group_vars/all/bifrost
  ansible/group_vars/all/ipa
  ansible/kolla-openstack.yml
  ansible/overcloud-ipa-images.yml
  ansible/roles/kolla-bifrost/templates/bifrost.yml.j2
  ansible/seed-ipa-build.yml
  ansible/seed-service-upgrade-prep.yml
  dev/tenks-deploy-config-compute.yml
  doc/source/configuration/bifrost.rst
  doc/source/configuration/ironic-python-agent.rst
  etc/kayobe/ipa.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  releasenotes/notes/ipa-builder-ea6308b6691ae71e.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Update IPA images during upgrade
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix seed VM interface ordering
  ansible/group_vars/all/seed-vm
  ansible/seed-vm-provision.yml
  etc/kayobe/seed-vm.yml
  releasenotes/notes/fix-seed-multiple-networks-458915b085a9478c.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix kolla-ansible config when a network is named 'external'
  ansible/kolla-ansible.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update image regexes
  ansible/group_vars/all/kolla
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update feature flag defaults
  ansible/group_vars/all/kolla
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CentOS 8: add docs and release note
  doc/source/centos8.rst
  doc/source/index.rst
  doc/source/installation.rst
  doc/source/support-matrix.rst
  releasenotes/notes/centos-8-12073e91a157d0a2.yaml
Due: none

Add seed VM provisioning CI job
  ansible/seed-vm-provision.yml
  dev/functions
  playbooks/kayobe-seed-vm-base/overrides.yml.j2
  playbooks/kayobe-seed-vm-base/pre.yml
  playbooks/kayobe-seed-vm-base/run.yml
  playbooks/kayobe-seed-vm-base/seed-group-vars.j2
  requirements.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add missing colon
  doc/source/configuration/network.rst
Due: none

CI: don't run virtualenv on an existing virtualenv
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
