Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Bump Ansible version range to 2.9 - 2.9
  ansible/roles/kolla-ansible/tasks/install.yml
  releasenotes/notes/ansible-2.9-2.9-1a666cc9aab51c9d.yaml
  requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

When EPEL install flag is not set
  ansible/roles/dnf/tasks/local-mirror.yml
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Disable ironic in the overcloud by default
  ansible/group_vars/all/kolla
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
  releasenotes/notes/default-disable-ironic-2c20b8a7e69f19c5.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: avoid set_fact in Kolla Ansible host vars
  ansible/action_plugins/kolla_ansible_host_vars.py
  ansible/kolla-ansible.yml
  kayobe/plugins/__init__.py
  kayobe/plugins/action/__init__.py
  kayobe/plugins/action/kolla_ansible_host_vars.py
  kayobe/tests/unit/plugins/__init__.py
  kayobe/tests/unit/plugins/action/__init__.py
  kayobe/tests/unit/plugins/action/test_kolla_ansible_host_vars.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Disable overcloud networks for Ironic when unused
  ansible/group_vars/all/network
  releasenotes/notes/disable-ironic-networks-86ba35f58f317ab6.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

dev: fix test scripts when ironic is disabled
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

When EPEL install flag is not set
  ansible/roles/dnf/tasks/local-mirror.yml
  ansible/roles/yum/tasks/local-mirror.yml
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Switch default docker storage driver to overlay2
  ansible/docker-devicemapper.yml
  ansible/group_vars/all/docker
  ansible/roles/docker-devicemapper/defaults/main.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  doc/source/configuration/reference/hosts.rst
  etc/kayobe/docker.yml
  releasenotes/notes/default-overlay2-970bdb5b7b62b60a.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Add variables for API VIP address and FQDN
  ansible/group_vars/all/kolla
  ansible/kolla-ansible.yml
  ansible/overcloud-grafana-configure.yml
  ansible/public-openrc.yml
  doc/source/configuration/reference/kolla-ansible.rst
  doc/source/configuration/reference/network.rst
  etc/kayobe/kolla.yml
  releasenotes/notes/add-vip-fqdn-variables-a6202664c2b6eb01.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Configure bifrost to use firewalld trusted zone
  ansible/group_vars/all/bifrost
  ansible/roles/kolla-bifrost/templates/bifrost.yml.j2
  etc/kayobe/bifrost.yml
  releasenotes/notes/bifrost-firewalld-zone-09a29651a058531a.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Fix filtering of network names set to an empty string
  ansible/group_vars/all/compute
  ansible/group_vars/all/controllers
  ansible/group_vars/all/monitoring
  ansible/group_vars/all/seed
  ansible/group_vars/all/seed-hypervisor
  ansible/group_vars/all/storage
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Synchronise global extra variables files with defaults
  ansible/group_vars/all/seed
  etc/kayobe/compute.yml
  etc/kayobe/controllers.yml
  etc/kayobe/seed.yml
  etc/kayobe/storage.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Document migration of seed VM to CentOS 8
  doc/source/centos8.rst
Due: none

Fix failures in Docker storage driver check
  ansible/docker-devicemapper.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: skip LVM configuration if no groups configured
  ansible/lvm.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Add missing barbican.conf support
  ansible/kolla-openstack.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/tests/test_default.py
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/templates/barbican.conf.j2
  doc/source/configuration/kolla-ansible.rst
  releasenotes/notes/add-support-for-barbican-conf-c15f0ab4294281cf.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Fix "Wait for the ironic node to be inspected" task
  ansible/overcloud-hardware-inspect.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

docs: Add initial all-in-one scenario
  doc/source/configuration/index.rst
  doc/source/configuration/scenarios/all-in-one/index.rst
  doc/source/configuration/scenarios/all-in-one/overcloud.rst
  doc/source/configuration/scenarios/index.rst
Due: none

CI: Fix kayobe-tox-molecule job
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Synchronise global extra variables file with defaults
  ansible/group_vars/all/seed
  etc/kayobe/compute.yml
  etc/kayobe/controllers.yml
  etc/kayobe/seed.yml
  etc/kayobe/storage.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

docs: Add link to Kolla Ansible CentOS 8 page
  doc/source/centos8.rst
Due: none

docs: Add link back to Train CentOS 8 migration page
  doc/source/support-matrix.rst
Due: none

Use OpenStack Victoria release
  ansible/group_vars/all/openstack
  etc/kayobe/openstack.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Update .gitreview for stable/victoria
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Support for firewalld ZONE option in network interfaces configuration
  ansible/filter_plugins/networks.py
  doc/source/configuration/reference/network.rst
  releasenotes/notes/firewalld-zone-option-15cb747feb90446b.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CI: set previous_release to Victoria
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Fix ansible-lint star expansion
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Fix Python setup when venv is not used
  ansible/kayobe-target-venv.yml
  releasenotes/notes/fix-python-setup-5e7ff929a6cab092.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8
