Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  zuul.d/project.yaml
Due: none

Update python testing as per zed cycle testing runtime
  setup.cfg
Due: none

Run handlers before configuring veth interfaces
  ansible/roles/network-redhat/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add Hashi Vault support for Kolla passwords
  ansible/inventory/group_vars/all/kolla
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/library/kolla_passwords.py
  ansible/roles/kolla-ansible/tasks/config.yml
  etc/kayobe/kolla.yml
  releasenotes/notes/hashi-vault-kolla-passwords-c4584aeeecd36e80.yaml
  requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Do not fail when admin openrc file does not exist
  ansible/roles/public-openrc/tasks/main.yml
  releasenotes/notes/fix-failure-to-generate-openrc-when-using-tags-c8e554173e0b9ac3.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add note about Zed upgrade using Rocky Linux 9
  doc/source/upgrading.rst
Due: none

Fix tox.ini for tox4
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Support configuring VLANs with systemd-networkd syntax
  doc/source/configuration/reference/network.rst
  kayobe/plugins/action/kolla_ansible_host_vars.py
  kayobe/plugins/filter/networkd.py
  kayobe/plugins/filter/networks.py
  kayobe/tests/unit/plugins/action/test_kolla_ansible_host_vars.py
  kayobe/tests/unit/plugins/filter/test_networkd.py
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
  releasenotes/notes/systemd-networkd-vlans-5022f0d1b8214329.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

docs: add missing word
  doc/source/upgrading.rst
Due: none

Replace references to Docker Hub by Quay.io
  doc/source/configuration/reference/kolla-ansible.rst
  doc/source/deployment.rst
  doc/source/upgrading.rst
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Sync kolla_tag with kolla-ansible
  ansible/inventory/group_vars/all/kolla
  etc/kayobe/kolla.yml
  releasenotes/notes/sync-kolla-tag-e4766b4fb395765e.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add support for Ubuntu Jammy Jellyfish (22.04) LTS
  ansible/roles/apt/tasks/repos.yml
  doc/source/installation.rst
  doc/source/support-matrix.rst
  etc/kayobe/globals.yml
  playbooks/kayobe-overcloud-base/globals.yml.j2
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
  releasenotes/notes/ubuntu-jammy-515047cd1ae85151.yaml
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add command to run config validation
  doc/source/administration/overcloud.rst
  kayobe/cli/commands.py
  releasenotes/notes/add-command-to-run-config-validation-351df61eb6094d66.yaml
  setup.cfg
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Limit interface names to 15 characters
  kayobe/plugins/action/kolla_ansible_host_vars.py
  kayobe/plugins/filter/networks.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Revert "Use OpenStack Zed release"
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Readd centos8s/rocky8 jobs after jammy backport
  zuul.d/project.yaml
Due: none

set previous_release to zed
  ansible/roles/ipa-images/tasks/main.yml
  ansible/roles/ipa-images/tasks/set-driver-info.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Apply TODOs for Antelope cycle
  ansible/roles/kolla-ansible/tasks/config.yml
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
  playbooks/kayobe-seed-upgrade-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

dnf: improve task output readability
  ansible/roles/dnf/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

vips: assert shows what we're testing and when
  ansible/kolla-ansible.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: move ubuntu upgrade jobs to jammy
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

CI: add Rocky9 upgrade jobs
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

CI: Don't run Heat and Horizon in overcloud jobs
  playbooks/kayobe-overcloud-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Ubuntu: Fix networkd config for multiple VLANs without MTU
  kayobe/plugins/filter/networkd.py
  kayobe/tests/unit/plugins/filter/test_networkd.py
  releasenotes/notes/fix-networkd-vlans-8d5d85da4d2e50ae.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Use assert to test/validate condition
  ansible/kolla-ansible.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal
