Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^zuul.d/.*
  kayobe-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-ubuntu-focal: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-images-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-images-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-images-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-images-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-ubuntu-focal: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-infra-vm-base: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-infra-vm-centos9s: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-infra-vm-rocky9: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-infra-vm-ubuntu-jammy: unless all of: ^\..+, ^.*\.rst$, ^doc/.*, ^kayobe/tests/, ^LICENSE$, ^molecule-requirements.txt, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*

Add support for building the proxysql image
  ansible/inventory/group_vars/all/kolla
  releasenotes/notes/build-proxysql-image-ec09332ef0b7dae0.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Update kolla-ansible mariadb commands
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

CI: Fix Ubuntu 24.04 version check
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

CI: Replace deprecated distro.linux_distribution
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

CI: test database backup
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Comment out variable in bifrost.yml
  etc/kayobe/bifrost.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Bump minimum tox version
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Align Kayobe Ansible version with Kolla Ansible
  ansible/roles/kolla-ansible/tasks/install.yml
  ansible/roles/selinux/tasks/main.yml
  dev/functions
  dev/overcloud-upgrade.sh
  dev/seed-upgrade.sh
  playbooks/kayobe-overcloud-host-configure-base/pre.yml
  releasenotes/notes/bump-ansible-10-2a726c83f18e34bb.yaml
  requirements.txt
  setup.cfg
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Remove upgrade note about Rocky Linux 9 support
  doc/source/upgrading.rst
Due: none

Mention change of default in release note
  releasenotes/notes/respect-comment-for-keep-ports-e0b1ab73395055a6.yaml
Due: none

Add internal VIP address to no_proxy
  ansible/inventory/group_vars/all/proxy
  etc/kayobe/proxy.yml
  releasenotes/notes/adds-internal-vip-to-no-proxy-cbb4db4ea3909185.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

nvue: Update collection version to 1.2.6
  releasenotes/notes/nvue-1-2-6-dd6aaa63cd49a37d.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Prevent accidental overriding of Ansible extensions
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
  releasenotes/notes/improve-namespacing-for-internal-playbooks-baed54403608c3e7.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Add loop control to custom DNF repos
  ansible/roles/dnf/tasks/custom-repo.yml
  releasenotes/notes/dnf-loop-control-6e2c8ba1915d2631.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Update .gitreview for stable/2024.2
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Revert "[release] Use OpenStack 2024.2 release"
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Ensure ironic-python-agent matches ironic-lib
  ansible/inventory/group_vars/all/ipa
  doc/source/configuration/reference/ironic-python-agent.rst
  releasenotes/notes/pin-ipa-requirements-f9566011b2400e6c.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

CI: use quay.io/podman/hello due too dockerhub rate limits
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Rename stable/2023.1 to unmaintained/2023.1
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

CI: Bump size of Swift device
  ansible/roles/swift-block-devices/tests/test-bootstrapped.yml
  ansible/roles/swift-block-devices/tests/test-mount.yml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy

Add missing space character to help message
  kayobe/ansible.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos9s, kayobe-overcloud-rocky9, kayobe-overcloud-ubuntu-jammy, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos9s, kayobe-overcloud-tls-rocky9, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos9s, kayobe-seed-rocky9, kayobe-seed-ubuntu-jammy, kayobe-seed-images-base, kayobe-seed-images-centos9s, kayobe-seed-images-rocky9, kayobe-seed-images-ubuntu-jammy, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos9s, kayobe-overcloud-host-configure-rocky9, kayobe-overcloud-host-configure-ubuntu-jammy, kayobe-seed-upgrade-base, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos9s, kayobe-seed-vm-rocky9, kayobe-seed-vm-ubuntu-jammy, kayobe-infra-vm-base, kayobe-infra-vm-centos9s, kayobe-infra-vm-rocky9, kayobe-infra-vm-ubuntu-jammy
