Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

kayobe-tox-ansible-syntax:
  description: 'Tox job that checks Ansible playbook syntax.
  
    '
  parent: openstack-tox
  vars:
    tox_envlist: ansible-syntax

kayobe-tox-ansible:
  description: 'Tox job that runs native Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  vars:
    tox_envlist: ansible
  required-projects:
  - name: openstack/requirements

kayobe-tox-molecule:
  description: 'Tox job that runs molecule-based Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  pre-run: playbooks/kayobe-tox-molecule/pre.yml
  timeout: 3600
  required-projects:
  - openstack/requirements
  vars:
    tox_envlist: molecule

kayobe-base:
  description: 'Base job for all deployment jobs.
  
    '
  pre-run: playbooks/kayobe-base/pre.yml
  post-run: playbooks/kayobe-base/post.yml
  attempts: 5
  required-projects:
  - name: openstack/kayobe
  - name: openstack/kayobe-config-dev
  - name: openstack/kolla
    override-checkout: stable/ussuri
  ...

kayobe-overcloud-base:
  parent: kayobe-base
  description: 'Base job for testing overcloud deployment.
  
  
    Configures the primary VM as an overcloud controller.
  
    '
  pre-run: playbooks/kayobe-overcloud-base/pre.yml
  run: playbooks/kayobe-overcloud-base/run.yml
  timeout: 7200

kayobe-overcloud-centos8:
  parent: kayobe-overcloud-base
  nodeset: kayobe-centos8

kayobe-overcloud-upgrade-base:
  parent: kayobe-base
  description: 'Base job for testing overcloud upgrades.
  
  
    Configures the primary VM as an overcloud controller using the previous
  
    OpenStack release, and upgrades it to the current release.
  
    '
  pre-run: playbooks/kayobe-overcloud-upgrade-base/pre.yml
  ...

kayobe-overcloud-upgrade-centos8:
  parent: kayobe-overcloud-upgrade-base
  nodeset: kayobe-centos8

kayobe-seed-base:
  parent: kayobe-base
  description: 'Base job for testing seed deployment.
  
  
    Configures the primary VM as a seed.
  
    '
  pre-run: playbooks/kayobe-seed-base/pre.yml
  run: playbooks/kayobe-seed-base/run.yml
  timeout: 5400

kayobe-seed-centos8:
  parent: kayobe-seed-base
  nodeset: kayobe-centos8

kayobe-overcloud-host-configure-base:
  parent: kayobe-overcloud-base
  description: 'Base job for testing overcloud host configure.
  
  
    Configures the primary VM as an overcloud controller.
  
    '
  pre-run: playbooks/kayobe-overcloud-host-configure-base/pre.yml
  run: playbooks/kayobe-overcloud-host-configure-base/run.yml
  timeout: 7200

kayobe-overcloud-host-configure-centos8:
  parent: kayobe-overcloud-host-configure-base
  nodeset: kayobe-centos8

kayobe-seed-upgrade-base:
  parent: kayobe-base
  description: 'Base job for testing seed upgrades.
  
  
    Configures the primary VM as a seed using the previous OpenStack release,
  
    and upgrades it to the current release.
  
    '
  pre-run: playbooks/kayobe-seed-upgrade-base/pre.yml
  run: playbooks/kayobe-seed-upgrade-base/run.yml
  ...

kayobe-seed-vm-centos8:
  parent: kayobe-seed-vm-base
  nodeset: kayobe-centos8

Make pip_index_url variable conditional
  ansible/roles/pip/tasks/pip_local_mirror.yml
  releasenotes/notes/pip-index-url-conditional-3f9c5b3c5c808500.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: refactor pip configuration
  ansible/roles/pip/tasks/main.yml
  ansible/roles/pip/tasks/pip_conf.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Pin ansible-lint to 4.2.0
  test-requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Make pip_index_url variable conditional
  ansible/roles/pip/tasks/pip_conf.yml
  releasenotes/notes/pip-index-url-conditional-3f9c5b3c5c808500.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Install bash-completion in dev-tools
  ansible/roles/dev-tools/defaults/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

docs: Move getting started to a separate page
  doc/source/index.rst
Due: none

docs: Move configuration reference to subpath
  doc/requirements.txt
  doc/source/_extra/.htaccess
  doc/source/conf.py
  doc/source/configuration/index.rst
  doc/source/configuration/reference/ansible.rst
  doc/source/configuration/reference/bifrost.rst
  doc/source/configuration/reference/docker-registry.rst
  doc/source/configuration/reference/hosts.rst
  doc/source/configuration/reference/index.rst
  doc/source/configuration/reference/ironic-python-agent.rst
  doc/source/configuration/reference/kayobe.rst
  doc/source/configuration/reference/kolla-ansible.rst
  doc/source/configuration/reference/kolla.rst
  doc/source/configuration/reference/network.rst
  doc/source/configuration/reference/nova-cells.rst
  doc/source/configuration/reference/physical-network.rst
  doc/source/configuration/reference/seed-custom-containers.rst
  doc/test/redirect-tests.txt
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Document that kolla_tag may need to be changed when upgrading
  doc/source/upgrading.rst
Due: none

Update hacking for Python3
  bindep.txt
  test-requirements.txt
  tools/run-bashate.sh
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Move dnf.yml earlier in host configure workflow
  ansible/dnf.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/bugfix-dnf-proxy-cd934867c3d64388.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Move dnf.yml earlier in host configure workflow
  ansible/dnf.yml
  ansible/yum.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/bugfix-dnf-proxy-cd934867c3d64388.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: refactor pip configuration
  ansible/roles/pip/tasks/main.yml
  ansible/roles/pip/tasks/pip_local_mirror.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: skip LVM configuration if no groups configured
  ansible/lvm.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Avoid setting IPADDR=0.0.0.0
  ansible/filter_plugins/networks.py
  releasenotes/notes/fix-no-ip-addr-on-nic-38d6f8e8078f534d.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Update shebang for Python 3 script
  tools/feature-flags.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Support neutron-mlnx-agent
  ansible/group_vars/all/kolla
  ansible/roles/kolla-ansible/vars/main.yml
  etc/kayobe/kolla.yml
  releasenotes/notes/neutron-mlnx-agent-19631a3936da47df.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Remove support for deprecated Yum variables
  ansible/group_vars/all/dnf
  ansible/group_vars/all/yum
  ansible/group_vars/all/yum-cron
  doc/source/configuration/reference/hosts.rst
  etc/kayobe/dnf.yml
  etc/kayobe/yum-cron.yml
  etc/kayobe/yum.yml
  releasenotes/notes/remove-yum-variables-0a1ab4e958c27171.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Remove unnecessary requirements from tox.ini
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

docs: Move development section under contributor guide
  doc/source/_extra/.htaccess
  doc/source/contributor/automated.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/development.rst
  doc/source/contributor/index.rst
  doc/source/contributor/manual.rst
  doc/source/contributor/releases.rst
  doc/source/contributor/testing.rst
  doc/source/contributor/vagrant.rst
  doc/source/development/contributing.rst
  doc/source/development/index.rst
  doc/source/getting-started.rst
  doc/source/index.rst
  doc/test/redirect-tests.txt
Due: none

Docker registry basic auth
  ansible/group_vars/all/docker-registry
  ansible/group_vars/all/kolla
  ansible/roles/docker-registry/defaults/main.yml
  ansible/roles/docker-registry/tasks/config.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/templates/globals.yml.j2
  ansible/roles/kolla-ansible/tests/test-extras.yml
  doc/source/configuration/reference/docker-registry.rst
  etc/kayobe/docker-registry.yml
  releasenotes/notes/docker-registry-basic-auth-b94b4a66e1ce9095.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Bump hacking min version to 3.0.1
  test-requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: Parallelise Kolla Ansible host vars generation
  ansible/group_vars/all/kolla
  ansible/kolla-ansible.yml
  ansible/roles/kolla-ansible-host-vars/defaults/main.yml
  ansible/roles/kolla-ansible-host-vars/tasks/main.yml
  ansible/roles/kolla-ansible-host-vars/templates/host-vars.j2
  ansible/roles/kolla-ansible-host-vars/tests/main.yml
  ansible/roles/kolla-ansible-host-vars/tests/test.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/tasks/config.yml
  ansible/roles/kolla-ansible/templates/host-vars.j2
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  doc/source/configuration/reference/kolla-ansible.rst
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CI: Fix kayobe-tox-molecule job
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Add missing barbican.conf support
  ansible/kolla-openstack.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/tests/test_default.py
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/templates/barbican.conf.j2
  doc/source/configuration/reference/kolla-ansible.rst
  releasenotes/notes/add-support-for-barbican-conf-c15f0ab4294281cf.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: Parallelise Kolla Ansible host vars generation
  ansible/group_vars/all/kolla
  ansible/kolla-ansible.yml
  ansible/roles/kolla-ansible-host-vars/defaults/main.yml
  ansible/roles/kolla-ansible-host-vars/tasks/main.yml
  ansible/roles/kolla-ansible-host-vars/templates/host-vars.j2
  ansible/roles/kolla-ansible-host-vars/tests/main.yml
  ansible/roles/kolla-ansible-host-vars/tests/test.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/tasks/config.yml
  ansible/roles/kolla-ansible/templates/host-vars.j2
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  doc/source/configuration/kolla-ansible.rst
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Remove unneeded doc requirements in molecule tox env
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

CI: workaround overcloud upgrade issue with ironic
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Revert "CI: workaround overcloud upgrade issue with ironic"
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CI: Add a CentOS 8 overcloud job with TLS enabled
  dev/functions
  playbooks/kayobe-overcloud-base/globals.yml.j2
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-base/pre.yml
  playbooks/kayobe-overcloud-base/run.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Performance: avoid set_fact in Kolla Ansible host vars
  ansible/action_plugins/kolla_ansible_host_vars.py
  ansible/kolla-ansible.yml
  kayobe/plugins/__init__.py
  kayobe/plugins/action/__init__.py
  kayobe/plugins/action/kolla_ansible_host_vars.py
  kayobe/tests/unit/plugins/__init__.py
  kayobe/tests/unit/plugins/action/__init__.py
  kayobe/tests/unit/plugins/action/test_kolla_ansible_host_vars.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
