Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*

Remove trailing whitespace
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix bug trying to decrypt a plaintext file
  ansible/roles/kolla-ansible/library/kolla_passwords.py
  releasenotes/notes/fix-unnecessary-decryption-bug-adaf2f6385a77f48.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

docs: add missing apt tag
  doc/source/configuration/reference/hosts.rst
Due: none

Deprecate Monasca and dependencies
  releasenotes/notes/deprecate-monasca-1f83e043e0f59daa.yaml
Due: none

Add support for ANSIBLE_VAULT_PASSWORD_FILE
  doc/source/usage.rst
  kayobe/ansible.py
  kayobe/kolla_ansible.py
  kayobe/tests/unit/test_vault.py
  kayobe/vault.py
  releasenotes/notes/support-ansible-vault-password-file-d00ca1e041e1bd88.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Skip IP address allocation and configuration if needed
  ansible/ip-allocation.yml
  doc/source/configuration/reference/network.rst
  kayobe/plugins/filter/networks.py
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
  playbooks/kayobe-overcloud-host-configure-base/pre.yml
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
  releasenotes/notes/ip-allocation-skip-9e81c13324b7a7e1.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fixes an issue with --wipe-disks
  ansible/roles/wipe-disks/library/blockdevice_info.py
  ansible/roles/wipe-disks/tasks/main.yml
  releasenotes/notes/fix-issue-with-wipefs-destroying-mounted-filesystems-77cdfda91689d7d1.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Use dnf module to get rid of warning
  ansible/seed-vm-provision.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Bump mrlesmithjr.lvm to skip swap resizes
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add --add-known-hosts to control host bootstrap
  kayobe/cli/commands.py
  releasenotes/notes/ssh-known-hosts-on-control-host-bootstrap-3b9cfb3ff7ef47f6.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add prometheus-msteams group to kayobe
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
  releasenotes/notes/fix-add-msteams-group-to-kayobe--bfd2a5030b6955d2.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Remove Venus support
  ansible/roles/kolla-ansible/templates/overcloud-components.j2
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
  ansible/roles/kolla-ansible/vars/main.yml
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Support copying nova_compute Kolla configuration
  ansible/roles/kolla-openstack/vars/main.yml
  releasenotes/notes/kolla-config-nova-compute-3c2b18b04ce9d417.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Fix molecule job on Ubuntu Jammy
  ansible/roles/kolla-openstack/molecule/default/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  molecule-requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Remove kolla_install_type variable
  ansible/container-image-build.yml
  ansible/inventory/group_vars/all/kolla
  ansible/inventory/group_vars/all/swift
  ansible/kolla-build.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/tasks/config.yml
  ansible/roles/kolla-ansible/templates/kolla/globals.yml
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-ansible/tests/test-globals-merge.yml
  ansible/roles/kolla-ansible/tests/test-requirements.yml
  ansible/roles/kolla-build/defaults/main.yml
  ansible/roles/kolla-build/templates/kolla/kolla-build.conf
  doc/source/configuration/reference/kolla-ansible.rst
  doc/source/configuration/reference/kolla.rst
  etc/kayobe/kolla.yml
  etc/kayobe/overcloud-dib.yml
  releasenotes/notes/kolla-install-type-e00a7bd8db2e6ab4.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Build overcloud host images via DIB by default
  ansible/inventory/group_vars/all/overcloud-dib
  doc/source/configuration/reference/bifrost.rst
  doc/source/configuration/reference/overcloud-dib.rst
  doc/source/deployment.rst
  etc/kayobe/overcloud-dib.yml
  releasenotes/notes/overcloud-dib-default-dda199b09d40cb3b.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[release] Tidy up release notes for Zed
  releasenotes/notes/add-option-to-skip-hooks-719ba214a6d4b773.yaml
  releasenotes/notes/upper_constraints_split-a9548c8127c13535.yaml
  releasenotes/notes/zed-prelude-1a3697aa953d4c13.yaml
Due: none

Support configuration of swap
  ansible/inventory/group_vars/all/compute
  ansible/inventory/group_vars/all/controllers
  ansible/inventory/group_vars/all/infra-vms
  ansible/inventory/group_vars/all/monitoring
  ansible/inventory/group_vars/all/seed
  ansible/inventory/group_vars/all/seed-hypervisor
  ansible/inventory/group_vars/all/storage
  ansible/inventory/group_vars/compute/swap
  ansible/inventory/group_vars/controllers/swap
  ansible/inventory/group_vars/infra-vms/swap
  ansible/inventory/group_vars/monitoring/swap
  ansible/inventory/group_vars/seed-hypervisor/swap
  ansible/inventory/group_vars/seed/swap
  ansible/inventory/group_vars/storage/swap
  ansible/overcloud-host-configure.yml
  ansible/roles/swap/defaults/main.yml
  ansible/roles/swap/files/schema.json
  ansible/roles/swap/tasks/main.yml
  ansible/swap.yml
  doc/source/configuration/reference/hosts.rst
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
  releasenotes/notes/swap-522826f1706a4dc4.yaml
  requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[release] Sync Kolla Ansible feature flags for Zed
  ansible/roles/kolla-ansible/vars/main.yml
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[release] Sync Kolla Ansible inventory for Zed
  ansible/roles/kolla-ansible/templates/overcloud-components.j2
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

docs: explain how to enable Ironic in the automated setup
  doc/source/contributor/automated.rst
Due: none

docs: fix virsh command
  doc/source/contributor/automated.rst
Due: none

Custom Ansible Playbooks minor doc fix
  doc/source/custom-ansible-playbooks.rst
Due: none

Support OpenSearch configuration
  ansible/inventory/group_vars/all/kolla
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/vars/main.yml
  doc/source/configuration/reference/kolla-ansible.rst
  releasenotes/notes/replace-elasticsearch-with-opensearch-6bf0cd4250d5253e.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Remove support for Monasca and its dependencies
  README.rst
  ansible/inventory/group_vars/all/grafana
  ansible/inventory/group_vars/all/kolla
  ansible/inventory/group_vars/all/monasca
  ansible/kolla-openstack.yml
  ansible/overcloud-grafana-configure.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/templates/kolla/globals.yml
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/default/tests/test_default.py
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/tests/test_default.py
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/templates/kafka.server.properties.j2
  ansible/roles/kolla-openstack/templates/zookeeper.cfg.j2
  ansible/roles/kolla-openstack/vars/main.yml
  doc/source/configuration/reference/kolla-ansible.rst
  etc/kayobe/grafana.yml
  etc/kayobe/monasca.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/deprecate-monasca-1f83e043e0f59daa.yaml
  releasenotes/notes/overcloud-post-configure-grafana-dea6182d3f856319.yaml
  releasenotes/notes/remove-monasca-and-deps-1f83e043e0f59daa.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Add kayobe-seed-images-centos9s to experimental jobs
  zuul.d/project.yaml
Due: none

Use master upper constraints
  ansible/inventory/group_vars/all/pip
  dev/functions
  dev/tenks-deploy-config-compute-libvirt-on-host.yml
  dev/tenks-deploy-config-compute.yml
  dev/tenks-deploy-config-overcloud.yml
  playbooks/kayobe-overcloud-base/run.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Restore use of upper constraints for molecule
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

docs: Use recent dependencies update change
  doc/source/contributor/releases.rst
Due: none

Bump up Ansible supported versions to 5.x/6.x
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  ansible/external-net.yml
  ansible/inventory/group_vars/all/pip
  ansible/overcloud-introspection-rules-dell-lldp-workaround.yml
  ansible/overcloud-introspection-rules.yml
  ansible/overcloud-ipa-images.yml
  ansible/provision-net.yml
  ansible/roles/console-allocation/library/console_allocation.py
  ansible/roles/ip-allocation/library/ip_allocation.py
  ansible/roles/ipa-images/meta/main.yml
  ansible/roles/ironic-inspector-rules/library/os_ironic_inspector_rule.py
  ansible/roles/ironic-inspector-rules/meta/main.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/library/kolla_passwords.py
  ansible/roles/wipe-disks/library/blockdevice_info.py
  ansible/seed-introspection-rules.yml
  kayobe/plugins/action/merge_configs.py
  kayobe/plugins/action/merge_yaml.py
  releasenotes/notes/bump-ansible-6-5d7175aa0d962268.yaml
  requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Use OpenStack Zed release
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Use environment variables for plugin paths
  ansible/inventory/hosts
  doc/source/custom-ansible-playbooks.rst
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
  releasenotes/notes/plugin-env-vars-e6265564b3441dfe.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Some Rocky Linux 9 cleanups
  doc/source/configuration/reference/kolla-ansible.rst
  doc/source/support-matrix.rst
Due: none

[release] Clean up release notes for Zed release
  releasenotes/notes/bifrost-dhcp-range-netmask-fd40642967042267.yaml
  releasenotes/notes/fix-hacluster-variable-48d1370651a11cda.yaml
  releasenotes/notes/install-acl-package-0f21c110cd07537c.yaml
  releasenotes/notes/inventory-group-vars-cef39cb6f3803ee7.yaml
  releasenotes/notes/rocky-linux-8.6-image-cb4cf2781f802fb1.yaml
  releasenotes/notes/support-ansible-vault-password-file-d00ca1e041e1bd88.yaml
  releasenotes/notes/update-centos-cloud-image-20220913-4862bfdc89f8de3a.yaml
Due: none

Update python testing as per zed cycle testing runtime
  setup.cfg
Due: none

Update .gitreview for stable/zed
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal
