Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*

Build neutron-sriov-agent image when enabled
  ansible/group_vars/all/kolla
  releasenotes/notes/build-neutron-sriov-836acf378bae0b48.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

dnf: support exclude and includepkgs arguments
  ansible/roles/dnf/tasks/custom-repo.yml
  releasenotes/notes/yum-repository-exclude-includepkgs-6e7b6b988f1f9a9d.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Support building multiple disk images
  ansible/group_vars/all/overcloud-dib
  ansible/overcloud-host-image-build.yml
  doc/source/configuration/reference/bifrost.rst
  doc/source/configuration/reference/index.rst
  doc/source/configuration/reference/os-distribution.rst
  doc/source/configuration/reference/overcloud-dib.rst
  doc/source/deployment.rst
  etc/kayobe/overcloud-dib.yml
  releasenotes/notes/dib-host-image-4fe8b1bf078f2d27.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Generate kolla config when running database commands
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/fix-overcloud-database-backup-with-no-kolla-config-4f857915adabad41.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix seed VM configdrive when admin network is a VLAN
  kayobe/plugins/filter/networks.py
  releasenotes/notes/configdrive-vlans-4e8b6ed07b229233.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Support elements repositories for overcloud host images
  ansible/group_vars/all/overcloud-dib
  ansible/overcloud-host-image-build.yml
  doc/source/configuration/reference/overcloud-dib.rst
  etc/kayobe/overcloud-dib.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix seed VM configdrive when admin network is a VLAN
  ansible/filter_plugins/networks.py
  releasenotes/notes/configdrive-vlans-4e8b6ed07b229233.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix 'ModuleNotFoundError: No module named 'docker'
  ansible/roles/ntp/tasks/prepare.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Allow enable SNAT service on the seed hypervisor
  ansible/group_vars/all/seed-hypervisor
  ansible/group_vars/seed-hypervisor/snat
  ansible/group_vars/seed/snat
  ansible/ip-routing.yml
  ansible/snat.yml
  doc/source/configuration/reference/hosts.rst
  etc/kayobe/seed-hypervisor.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/seed-hypervisor-snat-3f4844bd1156bce9.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Adds support for custom Placement configuration.
  ansible/kolla-openstack.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/tests/test_default.py
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/templates/placement.conf.j2
  ansible/roles/kolla-openstack/vars/main.yml
  doc/source/configuration/reference/kolla-ansible.rst
  releasenotes/notes/add-extended-placement-conf-70a4b9a318c1b555.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix Sphinx syntax typo
  doc/source/configuration/reference/hosts.rst
Due: none

ipa: Use openstack_branch instead of master
  ansible/group_vars/all/ipa
  etc/kayobe/ipa.yml
  releasenotes/notes/ipa-branch-b29c377c531013a8.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Pin rich to <11 due to breaking ansible-lint in kayobe-tox-molecule
  test-requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Update documentation about CentOS support
  doc/source/installation.rst
  doc/source/support-matrix.rst
  doc/source/upgrading.rst
Due: none

Use net_mask filter instead of ansible's ipaddr
  ansible/kolla-bifrost-hostvars.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

remove unicode from code
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Update python testing classifier
  setup.cfg
Due: none

Remove chrony cleanup from overcloud host configure
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Drop kolla-host.yml playbook
  ansible/kolla-host.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Support for untemplated dirs in kolla config
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/vars/main.yml
  releasenotes/notes/add-support-for-custom-horizon-themes-5da1d99c1b8107b9.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Bump up Ansible supported versions
  ansible/roles/kolla-ansible/tasks/install.yml
  ansible/roles/swift-block-devices/tests/main.yml
  releasenotes/notes/ansible-max-5-dd929737c46f20ec.yaml
  requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Add CentOS Stream 8
  dev/functions
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Set correct gateway for the bifrost provision network
  ansible/kolla-bifrost.yml
  releasenotes/notes/bifrost-inspection-gateway-316ab384430ef8df.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[CI]: Remove CentOS Linux 8 testing
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

Set requirements branch for IPA build
  ansible/group_vars/all/ipa
  doc/source/configuration/reference/ironic-python-agent.rst
  releasenotes/notes/specify-requirements-branch-for-ipa-build-c3ca977ec21b58f4.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

ntp: Fix service mask when service doesn't exist
  ansible/roles/ntp/tasks/prepare.yml
  releasenotes/notes/story-2009821-b309165e25e77aea.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

ntp: Fix service mask when service doesn't exist
  ansible/roles/ntp/tasks/prepare.yml
  playbooks/kayobe-overcloud-upgrade-base/pre.yml
  releasenotes/notes/story-2009821-b309165e25e77aea.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: test ironic UEFI boot mode in overcloud TLS jobs
  dev/tenks-deploy-config-compute.yml
  dev/tenks-deploy-config-overcloud.yml
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-base/pre.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Bump up manage-lvm role version to v0.2.6
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

docs: fix order of tenks/libvirt workaround on ubuntu
  doc/source/contributor/automated.rst
Due: none
