Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-host-configure-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-vm-centos8: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Revert to binary images for nova
  playbooks/kayobe-overcloud-upgrade-base/globals.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Add os_release variable, build CentOS stream images
  ansible/group_vars/all/bifrost
  ansible/group_vars/all/globals
  ansible/group_vars/all/ipa
  etc/kayobe/bifrost.yml
  etc/kayobe/globals.yml
  releasenotes/notes/os-distribution-69445eb19a611d43.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: none

Ubuntu: add documentation & release note
  doc/source/administration/overcloud.rst
  doc/source/administration/seed.rst
  doc/source/configuration/reference/bifrost.rst
  doc/source/configuration/reference/hosts.rst
  doc/source/configuration/reference/index.rst
  doc/source/configuration/reference/ironic-python-agent.rst
  doc/source/configuration/reference/kolla.rst
  doc/source/configuration/reference/network.rst
  doc/source/configuration/reference/os-distribution.rst
  doc/source/configuration/scenarios/all-in-one/index.rst
  doc/source/configuration/scenarios/all-in-one/overcloud.rst
  doc/source/contributor/automated.rst
  doc/source/deployment.rst
  doc/source/installation.rst
  doc/source/resources.rst
  doc/source/support-matrix.rst
  releasenotes/notes/ubuntu-e74f49ea72f69869.yaml
Due: none

[release] Set previous_release to wallaby
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Stop using platform-python
  ansible/dnf.yml
  ansible/kayobe-ansible-user.yml
  ansible/kayobe-target-venv.yml
  ansible/kolla-pip.yml
  ansible/pip.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CI: switch to quay.io for container images
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-base/pre.yml
  playbooks/kayobe-overcloud-upgrade-base/globals.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/pre.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  playbooks/kayobe-seed-base/globals.yml.j2
  playbooks/kayobe-seed-base/overrides.yml.j2
  playbooks/kayobe-seed-base/pre.yml
  playbooks/kayobe-seed-upgrade-base/globals.yml.j2
  playbooks/kayobe-seed-upgrade-base/overrides.yml.j2
  playbooks/kayobe-seed-upgrade-base/pre.yml
  playbooks/kayobe-seed-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Ubuntu: install qemu-img on seed-hypervisor
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CI: switch to quay.io for container images
  playbooks/kayobe-overcloud-base/globals.yml.j2
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-base/pre.yml
  playbooks/kayobe-overcloud-upgrade-base/globals.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/pre.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  playbooks/kayobe-seed-base/globals.yml.j2
  playbooks/kayobe-seed-base/overrides.yml.j2
  playbooks/kayobe-seed-base/pre.yml
  playbooks/kayobe-seed-upgrade-base/globals.yml.j2
  playbooks/kayobe-seed-upgrade-base/overrides.yml.j2
  playbooks/kayobe-seed-upgrade-base/pre.yml
  playbooks/kayobe-seed-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Ubuntu: avoid shadowing of networkd config files
  ansible/roles/network-debian/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Sync the names and content of the repo-files for CentOS8
  ansible/roles/dnf/tasks/local-mirror.yml
  ansible/roles/dnf/templates/CentOS-AppStream.repo.j2
  ansible/roles/dnf/templates/CentOS-Base.repo.j2
  ansible/roles/dnf/templates/CentOS-Extras.repo.j2
  ansible/roles/dnf/templates/CentOS-Linux-AppStream.repo.j2
  ansible/roles/dnf/templates/CentOS-Linux-BaseOS.repo.j2
  ansible/roles/dnf/templates/CentOS-Linux-Extras.repo.j2
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Adds support for configuring chrony
  ansible/group_vars/all/kolla
  ansible/group_vars/all/time
  ansible/roles/ntp/defaults/main.yml
  ansible/roles/ntp/tasks/deploy.yml
  ansible/roles/ntp/tasks/main.yml
  ansible/roles/ntp/tasks/prepare.yml
  ansible/roles/ntp/tasks/validate.yml
  ansible/time.yml
  ansible/timezone.yml
  doc/source/configuration/reference/hosts.rst
  etc/kayobe/inventory/groups
  etc/kayobe/time.yml
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  playbooks/kayobe-overcloud-host-configure-base/overrides.yml.j2
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
  releasenotes/notes/install-chrony-on-the-host-283fa6fdd9cf9b4c.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Restore upper constraints for docs and releasenotes
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Remove unnecessary requirements from tox.ini
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

CI: Remove unused Docker images after overcloud upgrade
  playbooks/kayobe-overcloud-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Fixes for Ansible 2.10
  ansible/provision-net.yml
  ansible/roles/ipa-images/tasks/set-driver-info.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Make docker registry network mode configurable
  ansible/group_vars/all/docker-registry
  ansible/roles/docker-registry/defaults/main.yml
  doc/source/configuration/reference/docker-registry.rst
  etc/kayobe/docker-registry.yml
  releasenotes/notes/docker-registry-network-mode-3c678295b51d69c1.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

CentOS Stream: update DNF repo file names
  ansible/roles/dnf/tasks/local-mirror.yml
  ansible/roles/dnf/templates/CentOS-AppStream.repo.j2
  ansible/roles/dnf/templates/CentOS-Base.repo.j2
  ansible/roles/dnf/templates/CentOS-Extras.repo.j2
  ansible/roles/dnf/templates/CentOS-Stream-AppStream.repo.j2
  ansible/roles/dnf/templates/CentOS-Stream-BaseOS.repo.j2
  ansible/roles/dnf/templates/CentOS-Stream-Extras.repo.j2
  playbooks/kayobe-overcloud-host-configure-base/tests/test_overcloud_host_configure.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Fix overcloud post configure Python interpreter issues
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

docs: add reno and upgrade info for CentOS Stream
  doc/source/upgrading.rst
  releasenotes/notes/centos-stream-cb683a092153b93e.yaml
Due: none

Remove default time sources from customisable configuration
  ansible/group_vars/all/time
  etc/kayobe/time.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Support additional pass through host variables
  ansible/group_vars/all/kolla
  doc/source/configuration/reference/kolla-ansible.rst
  etc/kayobe/kolla.yml
  releasenotes/notes/extra-host-vars-13c28b790bc54f6b.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Replace custom serial loop with throttle
  ansible/roles/ssh-known-host/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8

Add kayobe overcloud service prechecks command
  doc/source/administration/overcloud.rst
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/prechecks-command-a9153f667659c315.yaml
  setup.cfg
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8, kayobe-seed-base, kayobe-seed-centos8, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8, kayobe-seed-vm-base, kayobe-seed-vm-centos8
