Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

kayobe-tox-ansible-syntax:
  description: 'Tox job that checks Ansible playbook syntax.
  
    '
  parent: openstack-tox
  vars:
    tox_envlist: ansible-syntax

kayobe-tox-ansible:
  description: 'Tox job that runs native Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  vars:
    tox_envlist: ansible
  required-projects:
  - name: openstack/requirements

kayobe-tox-molecule:
  description: 'Tox job that runs molecule-based Ansible role tests.
  
    '
  parent: openstack-tox-with-sudo
  pre-run: playbooks/kayobe-tox-molecule/pre.yml
  timeout: 3600
  required-projects:
  - openstack/requirements
  vars:
    tox_envlist: molecule

kayobe-base:
  description: 'Base job for all deployment jobs.
  
    '
  pre-run: playbooks/kayobe-base/pre.yml
  post-run: playbooks/kayobe-base/post.yml
  attempts: 5
  required-projects:
  - name: openstack/kayobe
  - name: openstack/kayobe-config-dev
  - name: openstack/kolla
    override-checkout: stable/xena
  ...

kayobe-overcloud-base:
  parent: kayobe-base
  description: 'Base job for testing overcloud deployment.
  
  
    Configures the primary VM as an overcloud controller.
  
    '
  pre-run: playbooks/kayobe-overcloud-base/pre.yml
  run: playbooks/kayobe-overcloud-base/run.yml
  timeout: 7200

kayobe-overcloud-centos8s:
  parent: kayobe-overcloud-base
  nodeset: kayobe-centos8s

kayobe-overcloud-ubuntu-focal:
  parent: kayobe-overcloud-base
  nodeset: kayobe-ubuntu-focal

kayobe-overcloud-tls-base:
  parent: kayobe-overcloud-base
  vars:
    tls_enabled: true

kayobe-overcloud-tls-centos8s:
  parent: kayobe-overcloud-tls-base
  nodeset: kayobe-centos8s

kayobe-overcloud-upgrade-base:
  parent: kayobe-base
  description: 'Base job for testing overcloud upgrades.
  
  
    Configures the primary VM as an overcloud controller using the previous
  
    OpenStack release, and upgrades it to the current release.
  
    '
  pre-run: playbooks/kayobe-overcloud-upgrade-base/pre.yml
  ...

kayobe-overcloud-upgrade-centos8s:
  parent: kayobe-overcloud-upgrade-base
  nodeset: kayobe-centos8s

kayobe-overcloud-upgrade-ubuntu-focal:
  parent: kayobe-overcloud-upgrade-base
  nodeset: kayobe-ubuntu-focal

kayobe-seed-base:
  parent: kayobe-base
  description: 'Base job for testing seed deployment.
  
  
    Configures the primary VM as a seed.
  
    '
  pre-run: playbooks/kayobe-seed-base/pre.yml
  run: playbooks/kayobe-seed-base/run.yml
  timeout: 5400

kayobe-seed-centos8s:
  parent: kayobe-seed-base
  nodeset: kayobe-centos8s

kayobe-seed-ubuntu-focal:
  parent: kayobe-seed-base
  nodeset: kayobe-ubuntu-focal

kayobe-overcloud-host-configure-base:
  parent: kayobe-overcloud-base
  description: 'Base job for testing overcloud host configure.
  
  
    Configures the primary VM as an overcloud controller.
  
    '
  pre-run: playbooks/kayobe-overcloud-host-configure-base/pre.yml
  run: playbooks/kayobe-overcloud-host-configure-base/run.yml
  timeout: 7200

Fix issue removing docker volumes
  ansible/roles/docker-registry/tasks/destroy.yml
  ansible/roles/inspection-store/tasks/destroy.yml
  ansible/roles/opensm/tasks/destroy.yml
  releasenotes/notes/fix-issue-overcloud-service-destroy-volume-cleanup-4b54d81cde9831c7.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix permissions on dev/rabbitmq-migrate-queues.sh
  dev/rabbitmq-migrate-queues.sh
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Bump up Ansible supported versions to 8.x/9.x
  ansible/kolla-ansible.yml
  ansible/kolla-openstack.yml
  ansible/overcloud-ipa-images.yml
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/infra-vms/tasks/deploy.yml
  ansible/seed-vm-provision.yml
  releasenotes/notes/bump-ansible-8-19460a447621ff3c.yaml
  requirements.txt
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[release] Sync with Kolla Ansible for 2024.1
  ansible/roles/kolla-ansible/templates/overcloud-components.j2
  ansible/roles/kolla-ansible/templates/overcloud-services.j2
  ansible/roles/kolla-ansible/vars/main.yml
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

[release] Use OpenStack 2024.1 release
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Drop Freezer
  ansible/inventory/group_vars/all/kolla
  ansible/roles/kolla-ansible/templates/kolla/globals.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  releasenotes/notes/remove-freezer-support-caracal-70464d77734a3e3c.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Drop Murano, Sahara, Senlin, Solum and Vitrage
  README.rst
  ansible/inventory/group_vars/all/kolla
  ansible/overcloud-etc-hosts-fixup.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/templates/kolla/globals.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/default/tests/test_default.py
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/prepare.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/tests/test_default.py
  ansible/roles/kolla-openstack/templates/kolla/config/murano.conf
  ansible/roles/kolla-openstack/templates/kolla/config/sahara.conf
  doc/source/configuration/reference/kolla-ansible.rst
  releasenotes/notes/drop-murano-040dbcf2e81da7b5.yaml
  releasenotes/notes/drop-sahara-b818f90bad92a8dc.yaml
  releasenotes/notes/drop-senlin-6728bde642846310.yaml
  releasenotes/notes/drop-solum-8815cdc955705123.yaml
  releasenotes/notes/drop-vitrage-e94057f4953c191a.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Support configuring persistent systemd journal
  ansible/infra-vm-host-configure.yml
  ansible/inventory/group_vars/all/logging
  ansible/logging.yml
  ansible/overcloud-host-configure.yml
  ansible/seed-host-configure.yml
  ansible/seed-hypervisor-host-configure.yml
  doc/source/configuration/reference/hosts.rst
  etc/kayobe/logging.yml
  releasenotes/notes/adds-persistent-journal-99951ac651dc4a23.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

docs: Reword bare metal registration section
  doc/source/administration/bare-metal.rst
Due: none

Bump hacking to 6.1.0
  test-requirements.txt
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

docs: fix link to global variable defaults
  doc/source/contributor/development.rst
Due: none

CI: Only migrate RMQ queues during SLURP
  dev/functions
  playbooks/kayobe-overcloud-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Remove use of get_md5 when using stat module
  ansible/roles/kolla-build/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Update instructions to migrate from CentOS Stream 8
  doc/source/support-matrix.rst
  doc/source/upgrading.rst
Due: none

CI: Fix kayobe-tox-molecule job
  ansible/roles/kolla-openstack/molecule/default/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Fix Bifrost database backup instructions
  doc/source/administration/seed.rst
Due: none

Fix container image build issues with letsencrypt
  ansible/inventory/group_vars/all/kolla
  releasenotes/notes/fix-kolla-enable-letsencrypt-8e8746560be575ac.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add seed service destroy
  ansible/roles/deploy-containers/defaults/main.yml
  ansible/roles/deploy-containers/tasks/deploy-container.yml
  ansible/roles/deploy-containers/tasks/deploy.yml
  ansible/roles/deploy-containers/tasks/destroy-container.yml
  ansible/roles/deploy-containers/tasks/destroy.yml
  ansible/roles/deploy-containers/tasks/main.yml
  ansible/seed-deploy-containers.yml
  doc/source/administration/seed.rst
  doc/source/configuration/reference/seed-custom-containers.rst
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/adds-seed-service-destroy-1bdf79990d050e68.yaml
  setup.cfg
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Fix kayobe-tox-molecule job
  ansible/roles/kolla-openstack/molecule/default/molecule.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add ironic config files clean up tasks to overcloud deprovision
  ansible/overcloud-deprovision.yml
  releasenotes/notes/deprovision_leftover_fix-6b3150b32cbf9007.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Build default images in experimental jobs
  doc/source/contributor/releases.rst
  playbooks/kayobe-seed-base/run.yml
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Update .gitreview for stable/2024.1
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

CI: remove SLURP jobs for D cycle
  zuul.d/project.yaml
Due: none

remove migrate_rabbitmq_queues in D cycle
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

CI: Add non-voting Python 3.12 job
  zuul.d/project.yaml
Due: none

Revert "[release] Use OpenStack 2024.1 release"
  ansible/inventory/group_vars/all/openstack
  etc/kayobe/openstack.yml
  requirements.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Add support for Cumulus NVUE switches
  ansible/physical-network.yml
  ansible/roles/nvue-switch/README.md
  ansible/roles/nvue-switch/defaults/main.yml
  ansible/roles/nvue-switch/tasks/main.yml
  ansible/roles/nvue-switch/templates/nvue-config.j2
  doc/source/configuration/reference/physical-network.rst
  releasenotes/notes/cumulus-nvue-switch-9f52d701f6c49712.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-base, kayobe-overcloud-base, kayobe-overcloud-centos8s, kayobe-overcloud-ubuntu-focal, kayobe-overcloud-tls-base, kayobe-overcloud-tls-centos8s, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos8s, kayobe-overcloud-upgrade-ubuntu-focal, kayobe-seed-base, kayobe-seed-centos8s, kayobe-seed-ubuntu-focal, kayobe-overcloud-host-configure-base, kayobe-overcloud-host-configure-centos8s, kayobe-overcloud-host-configure-ubuntu-focal, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos8s, kayobe-seed-upgrade-ubuntu-focal, kayobe-seed-vm-base, kayobe-seed-vm-centos8s, kayobe-seed-vm-ubuntu-focal

Docs: Link to kolla contributer guide
  doc/source/contributor/releases.rst
Due: none

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^zuul.d/.*
  kayobe-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-tls-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-overcloud-host-configure-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-upgrade-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-centos8s: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
  kayobe-seed-vm-ubuntu-focal: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^test-requirements.txt, ^tools/.*$, ^tox.ini$, ^zuul.d/.*
