Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Example should use hyphen instead of underscore
  ansible/group_vars/all/kolla
  ansible/roles/kolla-build/defaults/main.yml
  etc/kayobe/kolla.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use docker_custom_config variable
  ansible/docker-devicemapper.yml
  ansible/docker.yml
  ansible/kolla-ansible.yml
  ansible/roles/docker-devicemapper/defaults/main.yml
  ansible/roles/docker-devicemapper/handlers/main.yml
  ansible/roles/docker-devicemapper/tasks/main.yml
  ansible/roles/docker-devicemapper/templates/docker-thinpool.profile.j2
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/config.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/tasks/config.yml
  ansible/roles/kolla-ansible/templates/daemon.json.j2
  ansible/roles/kolla-ansible/templates/globals.yml.j2
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
  releasenotes/notes/docker-custom-config-5103260d5ddb7223.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Don't set cpu mode
  dev/tenks-deploy-config-compute.yml
  dev/tenks-deploy-config-overcloud.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update packages in virtualenvs
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  ansible/baremetal-compute-rename.yml
  ansible/baremetal-compute-serial-console.yml
  ansible/docker.yml
  ansible/external-net.yml
  ansible/group_vars/all/kolla
  ansible/group_vars/all/pip
  ansible/overcloud-docker-sdk-upgrade.yml
  ansible/overcloud-grafana-configure.yml
  ansible/overcloud-introspection-rules-dell-lldp-workaround.yml
  ansible/overcloud-introspection-rules.yml
  ansible/overcloud-ipa-build.yml
  ansible/overcloud-ipa-images.yml
  ansible/provision-net.yml
  ansible/roles/ipa-images/defaults/main.yml
  ansible/roles/ipa-images/meta/main.yml
  ansible/roles/ipa-images/tasks/main.yml
  ansible/roles/ironic-inspector-rules/defaults/main.yml
  ansible/roles/ironic-inspector-rules/meta/main.yml
  ansible/roles/ironic-inspector-rules/tasks/main.yml
  ansible/seed-introspection-rules.yml
  ansible/seed-ipa-build.yml
  etc/kayobe/kolla.yml
  etc/kayobe/pip.yml
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
  playbooks/kayobe-seed-base/overrides.yml.j2
  playbooks/kayobe-seed-upgrade-base/overrides.yml.j2
  releasenotes/notes/stale-virtualenvs-125c513af3de9396.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Pass package list to Ansible package modules
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/dev-tools/tasks/main.yml
  ansible/roles/disable-selinux/tasks/main.yml
  ansible/roles/kolla-ansible/tasks/install.yml
  ansible/roles/kolla/tasks/install.yml
  ansible/roles/swift-block-devices/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix baremetal serial console autoenable
  ansible/baremetal-compute-serial-console-post-config.yml
  releasenotes/notes/fix-baremetal-serial-autoenable-0ccfec017cf2ddbc.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use HTTPS for cirros download
  playbooks/kayobe-seed-base/bifrost-overrides.yml.j2
  playbooks/kayobe-seed-upgrade-base/bifrost-overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Remove some references to Github
  doc/source/custom-ansible-playbooks.rst
  doc/source/upgrading.rst
Due: none

Revert to yatesr.timezone role
  ansible/ntp.yml
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
  requirements.yml
  tools/test-molecule.sh
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Only set up the kolla ansible venv on hosts in the kolla ansible inventory
  ansible/kolla-target-venv.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix validation of locally built IPA when ironic is disabled
  ansible/kolla-openstack.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix issue with image download when checksum url is none
  ansible/roles/image-download/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Stop gathering facts for host command run
  ansible/host-command-run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Stop running kolla-target-venv in seed hypervisor host upgrade
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix kolla ansible virtualenv creation on the seed
  ansible/kolla-target-venv.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Remove unused IPA config variables
  ansible/group_vars/all/ipa
  etc/kayobe/ipa.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Only stop chrony on nodes in kolla inventory
  ansible/stop-chrony.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix kayobe overcloud provision without seed in limit
  ansible/kolla-bifrost-hostvars.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add reference to zero touch provisioning blog in docs
  doc/source/deployment.rst
Due: none

tox: Keeping going with docs
  doc/requirements.txt
  tox.ini
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Use versioned links to OpenStack documentation
  doc/source/administration/overcloud.rst
  doc/source/configuration/hosts.rst
  doc/source/configuration/kolla-ansible.rst
  doc/source/configuration/kolla.rst
  doc/source/upgrading.rst
Due: none

Fix use of IPA images in Bifrost without a checksum
  ansible/roles/kolla-bifrost/templates/bifrost.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Add freezer to image build regex
  ansible/group_vars/all/kolla
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix customised inventory section
  doc/source/control-plane-service-placement.rst
Due: none
