Repository openstack/kayobe: changes, and which Zuul jobs are due for each by the changed paths.
All: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Path conditions:
  kayobe-tox-ansible-syntax: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-ansible: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-tox-molecule: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$
  kayobe-overcloud-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-overcloud-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-base: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  kayobe-seed-upgrade-centos: unless all of: ^.*\.rst$, ^doc/.*, ^releasenotes/.*, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Update .gitreview for stable/train
  .gitreview
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

Fix overcloud provisioning due to Bifrost IPA rename
  ansible/roles/kolla-bifrost/templates/bifrost.yml.j2
  releasenotes/notes/workaround-bifrost-ipa-kernel-rename-59bf75ac8285f103.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix IPA builds without packages specified
  releasenotes/notes/fix-ipa-build-b31fb20ddcbe3ece.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix seed VM provision
  releasenotes/notes/fix-seed-vm-provision-c432ebfae8bfee8b.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Don't list tasks for config dump
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Allow Kayobe to wipe virtualized disks
  ansible/roles/wipe-disks/tasks/main.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Stop running kolla-target-venv in seed hypervisor host upgrade
  kayobe/cli/commands.py
  kayobe/tests/unit/cli/test_commands.py
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix kayobe overcloud provision without seed in limit
  ansible/kolla-bifrost-hostvars.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix use of IPA images in Bifrost without a checksum
  ansible/roles/kolla-bifrost/templates/bifrost.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use internal API endpoints in overcloud API interaction
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  ansible/group_vars/all/openstack
  ansible/overcloud-introspection-rules-dell-lldp-workaround.yml
  ansible/overcloud-introspection-rules.yml
  ansible/overcloud-ipa-images.yml
  ansible/provision-net.yml
  ansible/roles/ipa-images/defaults/main.yml
  ansible/roles/ipa-images/tasks/main.yml
  ansible/roles/ipa-images/tasks/set-driver-info.yml
  ansible/roles/ironic-inspector-rules/defaults/main.yml
  ansible/roles/ironic-inspector-rules/library/os_ironic_inspector_rule.py
  ansible/roles/ironic-inspector-rules/tasks/main.yml
  releasenotes/notes/fix-post-config-public-eb72f3a692a2be6b.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use mariabackup for database backups
  ansible/group_vars/all/kolla
  ansible/kolla-openstack.yml
  ansible/roles/kolla-openstack/defaults/main.yml
  ansible/roles/kolla-openstack/molecule/enable-everything/molecule.yml
  ansible/roles/kolla-openstack/tasks/config.yml
  ansible/roles/kolla-openstack/templates/backup.my.cnf.j2
  ansible/roles/kolla-openstack/vars/main.yml
  doc/source/administration/overcloud.rst
  doc/source/configuration/kolla-ansible.rst
  etc/kayobe/kolla.yml
  releasenotes/notes/mariabackup-9370d55279c1aa78.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use {{ openstack_branch }} as version of kolla-ansible in ansible tests
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-ansible/tests/test-requirements.yml
  tools/test-ansible.sh
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Fix multiple CI failures
  ansible/roles/kolla-ansible/tests/test-defaults.yml
  ansible/roles/kolla-ansible/tests/test-extras.yml
  ansible/roles/kolla-ansible/tests/test-requirements.yml
  dev/functions
  playbooks/kayobe-overcloud-base/overrides.yml.j2
  playbooks/kayobe-overcloud-upgrade-base/overrides.yml.j2
  playbooks/kayobe-seed-base/overrides.yml.j2
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Update docs building
  doc/source/conf.py
Due: none

[ussuri][goal] Drop python 2.7 support and testing
  doc/requirements.txt
  releasenotes/notes/drop-py-2-7-3d0a7f3eb8f11d6b.yaml
  setup.cfg
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Docs: show other versions
  doc/source/conf.py
Due: none

Stop gzipping logs in get-logs.sh
  roles/kayobe-diagnostics/files/get_logs.sh
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

[docs] Change CoreOS URLs to Centos URLs fir IPA
  doc/source/configuration/ironic-python-agent.rst
Due: none

Fix sphinx8 script used by pep8
  tools/sphinx8
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule

Docs: fix libvirt connection URI for tenks
  doc/source/development/automated.rst
Due: none

Fix error logging of dev/functions
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Docs: Configure firewall to allow testing of baremetal
  doc/source/development/automated.rst
Due: none

CI: Redirect stderr to ansible logs
  playbooks/kayobe-overcloud-base/pre.yml
  playbooks/kayobe-overcloud-base/run.yml
  playbooks/kayobe-overcloud-upgrade-base/run.yml
  playbooks/kayobe-seed-base/pre.yml
  playbooks/kayobe-seed-base/run.yml
  playbooks/kayobe-seed-upgrade-base/run.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Make local kolla-ansible Python executable configurable
  ansible/roles/kolla-ansible/defaults/main.yml
  ansible/roles/kolla-ansible/tasks/install.yml
  ansible/roles/kolla-ansible/templates/overcloud-top-level.j2
  ansible/roles/kolla-ansible/vars/Debian.yml
  ansible/roles/kolla-ansible/vars/RedHat.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Revert "Use OpenStack Train release"
  ansible/group_vars/all/openstack
  ansible/roles/kolla-ansible/defaults/main.yml
  etc/kayobe/openstack.yml
  tox.ini
  zuul.d/jobs.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Use latest release of StackHPC iDRAC role
  releasenotes/notes/bugfix-update-idrac-role-71ede6900dc000a7.yaml
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Make docker registry volume configurable
  ansible/group_vars/all/docker-registry
  ansible/roles/docker-registry/README.md
  ansible/roles/docker-registry/defaults/main.yml
  releasenotes/notes/add-variable-docker-registry-datadir-volume-a5ec931a5eb2c59d.yaml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Switch from shade to openstacksdk
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  ansible/external-net.yml
  ansible/overcloud-grafana-configure.yml
  ansible/overcloud-introspection-rules-dell-lldp-workaround.yml
  ansible/overcloud-introspection-rules.yml
  ansible/overcloud-ipa-images.yml
  ansible/provision-net.yml
  ansible/roles/ipa-images/defaults/main.yml
  ansible/roles/ipa-images/meta/main.yml
  ansible/roles/ironic-inspector-rules/README.md
  ansible/roles/ironic-inspector-rules/library/os_ironic_inspector_rule.py
  ansible/roles/ironic-inspector-rules/meta/main.yml
  ansible/seed-introspection-rules.yml
  kayobe/ansible.py
  kayobe/tests/unit/test_ansible.py
  requirements.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

Remove activate-virtualenv and deactivate-virtualenv roles
  ansible/baremetal-compute-inspect.yml
  ansible/baremetal-compute-manage.yml
  ansible/baremetal-compute-provide.yml
  ansible/kayobe-target-venv.yml
  ansible/pip.yml
  ansible/provision-net.yml
  ansible/roles/activate-virtualenv/defaults/main.yml
  ansible/roles/activate-virtualenv/tasks/main.yml
  ansible/roles/deactivate-virtualenv/defaults/main.yml
  ansible/roles/deactivate-virtualenv/tasks/main.yml
  ansible/roles/ipa-images/tasks/main.yml
  ansible/roles/ironic-inspector-rules/tasks/main.yml
  ansible/roles/pip/tasks/pip_local_mirror.yml
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos

CI: Make provision-net external
  dev/functions
Due: kayobe-tox-ansible-syntax, kayobe-tox-ansible, kayobe-tox-molecule, kayobe-overcloud-base, kayobe-overcloud-centos, kayobe-overcloud-upgrade-base, kayobe-overcloud-upgrade-centos, kayobe-seed-base, kayobe-seed-centos, kayobe-seed-upgrade-base, kayobe-seed-upgrade-centos
